body{
  background-image: url(img/background.jpeg);
}
header{
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 80px;
    color: rgb(227, 202, 242);
    -webkit-box-shadow: 0px -5px 5px -5px rgba(224, 210, 229, 0.6) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(176, 17, 239, 0.6) inset;
    box-shadow: 0px -5px 5px -5px rgba(183, 207, 226, 0.6) inset;
  }
 .title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 30px;
    color: aqua;
 } 
.cardscar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
    max-width: 1800px
}
.card-body {
    font-family: Arial, Helvetica, sans-serif;

}
.card-title{
    text-align: center;
    font-size: 25px;

}
.card {
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px 2px 1px 0px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.card:hover,
.card:focus {
  transform: scale(1.05);
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}